<form
  id="2FAForm"
  class="fixed inset-0 flex items-center justify-center text-center backdrop-blur-xl"
>
  <div class="bg-purple-50 p-6 rounded-lg shadow-lg w-96">
    <h3 class="justify-center text-xl font-bold mb-4">
      You received a mail to login...
    </h3>
    <h3 class="justify-center text-xl font-bold mb-4">Please open it</h3>
    <div class="mb-2">
      <button type="submit" class="px-4 py-2 bg-rose-300 text-white rounded">
        Resend email
      </button>
    </div>
    <div class="mb-2">
      <button
        type="submit"
        id="close2FAform"
        class="px-4 py-2 bg-teal-300 text-white rounded"
      >
        Close
      </button>
    </div>
  </div>
</form>